.edit-div{
    text-align: center;
    color: black;
    background-color: #04AA6D;
    height: 238px;
    width: 544px;
    margin-left: 409px;
    margin-top: 55px;
}



.heading{
    margin-top:15px;
    font-size: 22px;
}